.App {
  text-align: center;
}
body {
  overflow: hidden;
}
#scoreboard{
  position: fixed;
  top:0;
  left:calc(50% - 100px);
  width:200px;
  background-color:#ddd;
  margin:0 auto;

  height:auto;
  z-index: 0;
  font-size: 24pt;
  font-weight: bolder;
  text-align:center;
  border-width: 2px;
  border-style: solid;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.temperature{
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;
  z-index: 0;
  font-size: 10pt;
  font-weight: normal;
  text-align:center;
}
.minor-scoreboard{
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;
  z-index: 0;
  font-size: 14pt;
  font-weight: bold;
  text-align:center;
}

.shiny-circle{
  display: block;
  position: fixed;
}

#settings{
  position: absolute;
  right:5px;
  top:5px;
  z-index: 0;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  width : 35px;
  height: 35px;
  text-align: right;
}

#settings-icon {
  width : 35px;
  height: 35px;
}


#settings:hover {
  transform: scale(1.1);
}


 .dropdown {
   position: relative;
   display: inline-block;
 }

.dropdown-content {
  display: none;
  position: fixed;
  right:5px;
  top:40px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 1;
  font-size: smaller;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.vertical-slider{
  position : fixed;
  top:0;
  left:0;
  width: calc(100%);
  height: 100vh;
  border-style: hidden;
  z-index: 0;
}

.example-track{

}


.target-position{

  width:100%;
  height:100%;
  opacity:0.2;

}

.horizontal-slider{
  width: calc(75%);
  height: 20px;
  border-style: none;
}

.settings-thumb{

}

.power-ups{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:105%;
  height:105%;
  opacity:0.7;
  z-index: 0;
}

.win-screen{
  position : fixed;
  top:50vh;
  left:50vw;
  margin-top:-75px;
  margin-left:-125px;
  width: 250px;
  height: 150px;
  border-style: solid;
  z-index: 10;
  opacity:0.9;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 5px 5px;
  font-size: smaller;
}